# Assignment 1: String Concatenation and Formatting

In [8]:
name=" Syeda Isra Raza"
age=" 27"
country=" Pakistan"

print("my name is" + name +", I am" + age +" years old," " and I live in" + country)

my name is Syeda Isra Raza, I am 27 years old, and I live in Pakistan

# Assignment 2: String Formatting using `.format()`

In [21]:
item="Books"
price=25
quantity=6

total_cost = price * quantity

print(total_cost)

a="I bought {} {} at {} each, for a total of $ {}" .format(quantity,item,price,total_cost)

print(a)

150
I bought 6 Books at 25 each, for a total of $ 150

# Assignment 3: String Interpolation using `f''`

In [25]:
city="Islamabad"
temp= 31

a=f"The temperature in {city} is {temp}°C."

print(a)

The temperature in Islamabad is 31°C.

# Assignment 4: String Formatting using `%()`

In [31]:
first_name= "Isra"
last_name= "Raza"
birth_year= 1995

age = 2023 - birth_year

a= "My name is %s %s. I am %d years old." %(first_name,last_name,age)

print(a)

My name is Isra Raza. I am 28 years old.

# Assignment 5: Combining Formatting Methods

In [47]:
product="Laptop"
discount= 15
original_price= 60000

discounted_price = original_price * (1 - discount/ 100)

print(discounted_price)

a= f"The product {product} which was in {original_price}, \nis now at discounted price of {discounted_price}, \nat {discount}% discount." 
print(a)

51000.0
The product Laptop which was in 60000,
is now at discounted price of 51000.0,
at 15% discount.