ASCCI

A-65
Z-90


a-97
z-122

0-47
9-58

# creation time

create list '[element1,element2,element3.....]'

create tupple '(element1,element2,element3.....)'

createc dictionary  '{key:value,key2:value2,key3:value3.....}'

create set '{element1,element2,element3.....}'

#calling time

list_var[index]

tupple_var[index]

dictionary_var[index]

In [1]:
l=list(range(65,91))
for a in l:
    print(chr(a))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [7]:
chr(67)

'C'

In [22]:
#   0        1        2

a=['farwa', 'bushra',30]

a[1]

'bushra'

In [24]:
a[1]='qasim'
a

['farwa', 'qasim', 30]

In [23]:
b={
    'name':'Isra',
    'fname':'Bushra',
    'age': 30
}
#replace 1 to "fname"

print(b)

b['fname']

{'name': 'Isra', 'fname': 'Bushra', 'age': 30}

'Bushra'

In [5]:
import pandas as pd

data={'roll_no': [1,2,3],
      'name':['a','b','c'],
      'course':['AI','DS','ML']}

print(data)

df=pd.DataFrame(data)
df

{'roll_no': [1, 2, 3], 'name': ['a', 'b', 'c'], 'course': ['AI', 'DS', 'ML']}

   roll_no name course
0        1    a     AI
1        2    b     DS
2        3    c     ML

In [11]:
import pandas as pd

data={'roll_no': [13615,23615,31615,61531],
      'name':['abbas','bushra','catholine','bisma'],
      'course':['AI','DS','ML','AI']}

print(data)

df=pd.DataFrame(data)
df

{'roll_no': [13615, 23615, 31615, 61531], 'name': ['abbas', 'bushra', 'catholine', 'bisma'], 'course': ['AI', 'DS', 'ML', 'AI']}

   roll_no       name course
0    13615      abbas     AI
1    23615     bushra     DS
2    31615  catholine     ML
3    61531      bisma     AI

In [13]:
print('42201-8243640-6'.replace("-","") == '4220182436406'.replace("-",""))

True

In [18]:
d={
    'a':"Pakistan",
    20:"Hello World"
}

print(d)
print(d[20])
print(d['a'])

{'a': 'Pakistan', 20: 'Hello World'}
Hello World
Pakistan

# Tuple

In [29]:
a = ('X','Y','Z')

[i for i in dir(a) if '__' not in i]

['count', 'index']

In [32]:
for i in a:
    print(i)

X
Y
Z

In [34]:
a[0]

'X'

In [35]:
a[-1]

'Z'

In [39]:
data={'roll number':[1,2,3]}

print(data) #dict
print(data['roll number'])#list
print(data['roll number'][0])

{'roll number': [1, 2, 3]}
[1, 2, 3]
1

In [45]:
a= [1,2,3,{'id':'1','name':'Ali'}]

print(a)
print(a[-1])
print(a[-1]['name'])
print(type(a))
isinstance(a,list)

[1, 2, 3, {'id': '1', 'name': 'Ali'}]
{'id': '1', 'name': 'Ali'}
Ali
<class 'list'>

True

In [60]:
a= [1,1,2,2,2,3,'a','b','c']

print(a, type(a))
a=set(a)
print(a, type(a))
a=list(a)
print(a, type(a))

a_string= [i for i in a]
print(a_string)

a_string= [i for i in a if isinstance(i,str)]
print(a_string)
a_string= sorted(a_string)

a_integer= [i for i in a if isinstance(i,int)]
print(a_integer)
a_integer= sorted(a_integer)

a= a_string + a_integer
a

[1, 1, 2, 2, 2, 3, 'a', 'b', 'c'] <class 'list'>
{1, 'b', 2, 3, 'a', 'c'} <class 'set'>
[1, 'b', 2, 3, 'a', 'c'] <class 'list'>
[1, 'b', 2, 3, 'a', 'c']
['b', 'a', 'c']
[1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [57]:
a_string= [i for i in a if isinstance(i,str)]
print(a_string)

a_string= sorted(a_string)

['b', 'a', 'c']

In [64]:
data={'roll_no': input('enter  your roll no '),
      'name': input('enter  your name '),
      'course': input('enter  your course ')
      
}

print(data)

enter  your roll no 13615
enter  your name isra
enter  your course ai
{'roll_no': '13615', 'name': 'isra', 'course': 'ai'}

In [65]:
print(isinstance (data,dict))

True