In [1]:
a=1
b=2

print(a+b)

3

In [2]:
name= "mohammad qasim"

print(name)
print(type(name))
print(id(name))

mohammad qasim
<class 'str'>
2640350224496

In [3]:
a=45

print(a)
print(type(a))
print(id(a))

45
<class 'int'>
140722660677800

In [4]:
a=[1,2,3]

print(a)
print(type(a))
print(id(a))

[1, 2, 3]
<class 'list'>
2640350386496

In [5]:
a={1,1,2,5,6,4,8,5,6}

print(a)
print(type(a))
print(id(a))

{1, 2, 4, 5, 6, 8}
<class 'set'>
2640349218848

In [6]:
a={"my roll no":"13615",
  "class":"one"}

print(a)
print(type(a))
print(id(a))

{'my roll no': '13615', 'class': 'one'}
<class 'dict'>
2640349392064

In [7]:
a=23
print(a,type(a),id(a))

a=7.0
print(a,type(a),id(a))

a="7"
print(a,type(a),id(a))

23 <class 'int'> 140722660677096
7.0 <class 'float'> 2640349183728
7 <class 'str'> 140722660720080

In [10]:
a = "isra"
b = "raza"
print(a + b)

israraza

In [12]:
x=6 #shallow copy
y=6
z=6

print(id(x))
print(id(y))
print(id(z))

140722660676552
140722660676552
140722660676552

In [13]:
a=8
b="8"

print(id(a))
print(id(b))

140722660676616
140722660720136

In [17]:
<img src="abz.png">

SyntaxError: invalid syntax (1777352190.py, line 1)

In [26]:
import pandas as pd

pf = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
pf[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [27]:
print(10 + 5) #addition
print(10 - 5) #subtraction
print(10 % 5) #modulus
print(10 / 5) #division
print(10 * 5) #multiplication

15
5
0
2.0
50

In [28]:
pf[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [29]:
a+=7
print(a)

15

In [30]:
pf[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [31]:
a=1
b=2

a==b

False

In [32]:
a=1
b=2

a!=b

True

In [33]:
a=7
b=7

a!=b

False

In [34]:
pf[3]

  Operator                                        Description                Example    Try it
0      and           Returns True if both statements are true       x < 5 and x < 10  Try it »
1       or      Returns True if one of the statements is true         x < 5 or x < 4  Try it »
2      not  Reverse the result, returns False if the resul...  not(x < 5 and x < 10)  Try it »

# string

In [35]:
data="My name is Isra"

print(data)

My name is Isra

In [36]:
data="My name is Isra"

print(data)
print(type(data))

My name is Isra
<class 'str'>

In [37]:
data='My name is Isra", employee id 13615'

print(data)
print(type(data))

My name is Isra", employee id 13615
<class 'str'>

In [42]:
data='my name is Isra\', employee id 13615' #to convert special character into normal use backslash

print(data)
print(type(data))

my name is Isra', employee id 13615
<class 'str'>

In [19]:
data="my name is Isra \", employee id 13615"

print(data)
print(type(data))

my name is Isra n", employee id 13615
<class 'str'>

In [5]:
data='my name is Isra\", employee id 13615'

print(data)
print(type(data))

my name is Isra", employee id 13615
<class 'str'>

In [15]:
data="my name is Isra, employee id 13615,"\
    " employe of HMB,"\
    " Business Analyst"

print(data)
print(type(data))

my name is Isra, employee id 13615, employe of HMB, Business Analyst
<class 'str'>

In [16]:
xyz="""
my name is Isra
employe of HMB
employee id 13615
Business Analyst
"""

print(xyz)
print(type(xyz))

my name is Isra
employe of HMB
employee id 13615
Business Analyst

<class 'str'>

# Concatenation

In [23]:
a=input("name ")
b=input("employee id ")

print (a+b)

name isra
employee id 13615
isra13615

In [25]:
a=input("name ")
b=input("employee id ")

print (type(a),type(b))

name isra
employee id 13615
<class 'str'> <class 'str'>

In [ ]:
a=input("name ")
b=input("employee id ")

print (type(a),type(b))
print (a + b)

In [ ]:
a=input("enter no 1")
b=input("enter no 2 ")

print (type(a),type(b))
print (a + b)