# Concatenation

In [1]:
a=input("name ")
b=input("employee id ")

print (a+b)

name isra
employee id 13615
isra13615

In [2]:
a=input("name ")
b=input("employee id ")

print (type(a),type(b))

name isra
employee id 13615
<class 'str'> <class 'str'>

In [3]:
a=input("name ")
b=input("employee id ")

print (type(a),type(b))
print (a + b)

name isra
employee id 3615
<class 'str'> <class 'str'>
isra3615

In [5]:
a=input("enter no 1")
b=input("enter no 2 ")

print (type(a),type(b))
print (a+b)  #we need to convert it into string to int

enter no 15
enter no 2 6
<class 'str'> <class 'str'>
56

In [10]:
a=input("enter no 1 ")
b=input("enter no 2 ")

print (type(a),type(b))
print (int(a)+int(b))

enter no 1 2
enter no 2 2
<class 'str'> <class 'str'>
4

In [11]:
a=input("enter no 1 ")
b=input("enter no 2 ")

print (int(a)+int(b))
print (type(a),type(b))

enter no 1 2
enter no 2 5
7
<class 'str'> <class 'str'>

In [12]:
a=int(input("enter no 1 "))
b=int(input("enter no 2 "))

print (type(a),type(b))
print (a+b)

enter no 1 2
enter no 2 5
<class 'int'> <class 'int'>
7

In [14]:
int("7") + 7

14

In [17]:
"7"+ str(7)

'77'

In [19]:
card= "I am Isra with \nemployee id 13615"

print(card)

I am Isra with
employee id 13615

In [23]:
employee_id= 13615
card= "I am Isra with \nemployee id " + str(employee_id)

print(card)

I am Isra with
employee id 13615

In [78]:
name= "Isra"
employee_id= 13615
bank= "HMB"
designation= "Business Intelligence"
surname= "Raza"

card= "Your name " + name +"\nsurname " + surname + "\nEmployee name " + bank +\
"\nEmployee id " + str(employee_id)+ "\nDesignation " + designation   #for next line use \

print(card)

Your name Isra
surname Raza
Employee name HMB
Employee id 13615
Designation Business Intelligence

In [73]:
name= "Isra"
employee_id= 13615
bank= "HMB"
post= "Business Intelligence"
surname= "Raza"

card= """
Your name \tIsra
surname \tRaza
Employee name \tHMB
Employee id \t13615
Designation \tBusiness Intelligence

"""

print(card)

Your name 	Isra
surname 	Raza
Employee name 	HMB
Employee id 	13615
Designation 	Business Intelligence

In [76]:
name= "Isra"
employee_id= 13615
bank= "HMB"
post= "Business Intelligence"
surname= "Raza"

card= """
Your name  {}
surname  {}
Employee name  {}
Employee id  {}
Designation  {}

""" .format(name,employee_id,bank,post,surname)

print(card)

Your name  Isra
surname  13615
Employee name  HMB
Employee id  Business Intelligence
Designation  Raza

In [81]:
name= "Isra"
employee_id= 13615
bank= "HMB"
designation= "Business Intelligence"
surname= "Raza"

card= """
Your name  {3}
surname  {2}
Employee name  {0}
Employee id  {4}
Designation  {1}

""" .format(bank,designation,surname,name,employee_id)
#            0      1           2      3    4
print(card)

Your name  Isra
surname  Raza
Employee name  HMB
Employee id  13615
Designation  Business Intelligence

# Newest way f

In [84]:
name= "Isra"
surname= "Raza"
bank= "HMB"
employee_id= 13615
designation= "Business Intelligence"

card= f"""
Your name  {name}
surname  {surname}
Employee name  {bank}
Employee id  {employee_id}
Designation  {designation}"""

print(card)

Your name  Isra
surname  Raza
Employee name  HMB
Employee id  13615
Designation  Business Intelligence

In [10]:
name= input ("Your name")
surname= input ("surname")
bank= input ("Employee name")
employee_id= input ("Employee id")
designation= input ("Designation")

card= f"""
Your name  {name}
surname  {surname}
Employee name  {bank}
Employee id  {employee_id}
Designation  {designation}"""

print(card)

Your nameBushra
surnameRaza
Employee name5645
Employee id4562
DesignationQA analyst

Your name  Bushra
surname  Raza
Employee name  5645
Employee id  4562
Designation  QA analyst

# oldest way

In [9]:
name= "Isra"
employee_id= 13615

a= "Your name %s employee id %d " %(name,employee_id)

print(a)

Your name Isra employee id 13615

# Assignment 2

In [1]:
#Assignment 1: String Concatenation and Formatting
    
name=" Syeda Isra Raza"
age=" 27"
country=" Pakistan"

print("my name is" + name +", I am" + age +" years old," " and I live in" + country)

my name is Syeda Isra Raza, I am 27 years old, and I live in Pakistan

In [8]:
#Assignment 2: String Formatting using .format()
    
item="Books"
price=25
quantity=6

total_cost = price * quantity

print(total_cost)

a="I bought "+ str(quantity) + " " + item + " at each, for a total of $ " +\
str(total_cost) .format(quantity,item,price,total_cost)

print(a)

150
I bought 6 Books at each, for a total of $ 150

In [72]:
item="Books"
price=25
quantity=6

total_cost = price * quantity

print(total_cost)

a="I bought {} {} at {} each, for a total of $ {}" .format(quantity,item,price,total_cost)

print(a)

150
I bought 6 Books at 25 each, for a total of $ 150

In [89]:
#Assignment 3: String Interpolation using f''

city="Islamabad"
temp= 31

a=f"The temperature in {city} is {temp}°C."

print(a)

The temperature in Islamabad is 31°C.

In [11]:
#Assignment 4: String Formatting using %()
    
first_name= "Isra"
last_name= "Raza"
birth_year= 1995

age = 2023 - birth_year

a= "My name is %s %s. I am %d years old." %(first_name,last_name,age)

print(a)

My name is Isra Raza. I am 28 years old.